################################################################################
#                                                                              #
# Note: when adding a new tool here, also adjust the Renovate configuration    #
#       that mirrors some asdf plugin's logic to remove version prefixes like  #
#       "v".                                                                   #
#                                                                              #
#       You have to amend the Renovate config when the asdf plugin takes 1.2.3 #
#       as the version but the Docker tag/Github tag is actually v1.2.3        #
#                                                                              #
################################################################################

awscli 2.22.4

# renovate: datasource=github-tags depName=rhysd/actionlint
actionlint 1.7.4

golang 1.23.3

helm 3.16.3

kubectl 1.31.3

pre-commit 4.0.1

shellcheck 0.10.0

terraform 1.9.8

tflint 0.54.0
