awscli 2.15.45

# renovate: datasource=github-tags depName=rhysd/actionlint
actionlint 1.6.27

golang 1.22.2

helm 3.14.4

kubectl 1.30.0

pre-commit 3.7.0

shellcheck 0.10.0

terraform 1.8.2

tflint 0.51.0
