---
name: Teleport Migration Procedure

on:
    schedule:
        - cron: 0 3 * * 1-5   # At 03:00 on every day-of-week from Monday through Friday.
    pull_request:
        branches-ignore:
            - stable/**
        paths:
            - .github/workflows/migration_procedure.yml
            - .github/workflows/reuseable_aws_operational_procedure.yml
            - aws/dual-region/kubernetes/**/**.yml
            - aws/dual-region/scripts/generate_zeebe_helm_values.sh
    workflow_dispatch:
        inputs:
            previous-helm-chart:
                description: Release Helm chart version
            migration-helm-chart:
                description: Helm chart version for migration
            keep-alive:
                description: Keep the clusters alive after the procedure (default false)
                type: boolean
            skip-failover:
                description: Skip the failover part of the procedure (default false)
                type: boolean
            skip-failback:
                description: Skip the failback part of the procedure (default false)
                type: boolean
            skip-multi-tenancy:
                description: Skip the multi-tenancy tests after migration (default false)
                type: boolean

env:
    IS_SCHEDULE: ${{ contains(github.head_ref, 'schedules/') || github.event_name == 'schedule' && 'true' || 'false' }}
    IS_PR: ${{ github.event_name == 'pull_request' && 'true' || 'false' }}

    # renovate: datasource=helm depName=camunda-platform registryUrl=https://helm.camunda.io versioning=regex:^12(\.(?<minor>\d+))?(\.(?<patch>\d+))?$
    PREVIOUS_HELM_CHART: 12.7.4
    # renovate: datasource=helm depName=camunda-platform registryUrl=https://helm.camunda.io versioning=regex:^13(\.(?<minor>\d+))?(\.(?<patch>\d+))?$
    MIGRATION_HELM_CHART: 13.3.2

concurrency:
    group: ${{ github.workflow }}-${{ github.ref }}
    cancel-in-progress: false

jobs:

    # Workaround as reuseable workflows do not support env vars from calling workflow yet
    convert_env_to_output:
        name: Convert env to output
        runs-on: ubuntu-latest
        outputs:
            PREVIOUS_HELM_CHART: ${{ steps.set-outputs.outputs.PREVIOUS_HELM_CHART }}
            MIGRATION_HELM_CHART: ${{ steps.set-outputs.outputs.MIGRATION_HELM_CHART }}
            IS_PR: ${{ steps.set-outputs.outputs.IS_PR }}
        steps:
            - name: Set outputs
              id: set-outputs
              run: |
                  {
                    echo "PREVIOUS_HELM_CHART=${{ inputs.previous-helm-chart || env.PREVIOUS_HELM_CHART }}"
                    echo "MIGRATION_HELM_CHART=${{ inputs.migration-helm-chart || env.MIGRATION_HELM_CHART }}"
                    echo "IS_PR=${{ env.IS_PR }}"
                  } >> "$GITHUB_OUTPUT"

    set_target_branch:
        name: Set target branch for migration
        runs-on: ubuntu-latest
        outputs:
            TARGET_BRANCH: ${{ steps.set-target-branch.outputs.TARGET_BRANCH }}
        env:
            # https://docs.github.com/en/actions/reference/security/secure-use#good-practices-for-mitigating-script-injection-attacks
            GITHUB_EVENT_NAME: ${{ github.event_name }}
            GITHUB_BASE_REF: ${{ github.base_ref }}
            GITHUB_HEAD_REF: ${{ github.head_ref }}
        steps:
            - name: Determine target branch
              id: set-target-branch
              run: |
                  set -euo pipefail

                  TARGET_BRANCH="stable/8.8"

                  if [[ "$GITHUB_EVENT_NAME" == "pull_request" ]]; then
                      if [[ "$GITHUB_BASE_REF" == "$TARGET_BRANCH" ]]; then
                          TARGET_BRANCH="$GITHUB_HEAD_REF"
                      fi
                  fi

                  echo "TARGET_BRANCH=$TARGET_BRANCH" >> "$GITHUB_OUTPUT"

    deploy_previous_release:
        name: Deploy previous release only
        needs:
            - convert_env_to_output
        uses: ./.github/workflows/reusable_teleport_operational_procedure.yml
        with:
            helmChartVersion: ${{ needs.convert_env_to_output.outputs.PREVIOUS_HELM_CHART }}
            deployOnly: true
            overwriteBranch: stable/8.7
        secrets: inherit

    deploy_migration_release:
        name: Deploy snapshot with migration enabled
        needs:
            - deploy_previous_release
            - convert_env_to_output
            - set_target_branch
        uses: ./.github/workflows/reusable_teleport_operational_procedure.yml
        with:
            helmChartVersion: ${{ needs.convert_env_to_output.outputs.MIGRATION_HELM_CHART }}
            migrationEnabled: true
            cluster_0_namespace: ${{ needs.deploy_previous_release.outputs.CLUSTER_0_NAMESPACE }}
            cluster_1_namespace: ${{ needs.deploy_previous_release.outputs.CLUSTER_1_NAMESPACE }}
            backup_name: ${{ needs.deploy_previous_release.outputs.BACKUP_NAME }}
            keepAlive: ${{ github.event.inputs.keep-alive == 'true' }}
            skipFailover: ${{ github.event.inputs.skip-failover == 'true' }}
            skipFailback: ${{ github.event.inputs.skip-failback == 'true' }}
            skipMultiTenancy: ${{ github.event.inputs.skip-multi-tenancy == 'true' }}
            overwriteBranch: ${{ needs.set_target_branch.outputs.TARGET_BRANCH }}
        secrets: inherit

    report-failure:
        name: Report failures
        if: failure()
        runs-on: ubuntu-latest
        needs:
            - deploy_migration_release
        steps:
            - name: Notify in Slack in case of failure
              id: slack-notification
              if: env.IS_SCHEDULE == 'true'
              uses: camunda/infraex-common-config/.github/actions/report-failure-on-slack@b52f5bb65b5bb9e0b0458c46b8671bf1fe9a907f # 1.5.7
              with:
                  vault_addr: ${{ secrets.VAULT_ADDR }}
                  vault_role_id: ${{ secrets.VAULT_ROLE_ID }}
                  vault_secret_id: ${{ secrets.VAULT_SECRET_ID }}
